<section class="header shadow" >
  <div class="container-fluid">
    <div class="row">
      <div class="pull-right top-nav">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a href="#" title="Admin" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
					<img src="./assets/images/profile-admin.png" class="profile-img-top" width="24" height="24" alt=""/>
				</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="'/user'">User Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Logout</a> </div>
          </li>

        </ul>

      </div>


    </div>
  </div>
</section>