<div id="bg"> </div>
<div class="pagewarp">
    <div id="login-titile"> <img src="./assets/images/login-icon.png" alt=""></div>
    <div class="form-cont">
        <ul class="radiobuttons">
            <li class="radioInput">
                <input type="radio" name="group1" id="r1" class="radio" />
                <label for="r1">Admin</label>
            </li>
            <li class="radioInput">
                <input type="radio" name="group1" id="r2" class="radio" />
                <label for="r2">User</label>
            </li>
        </ul>

        <button type="button" (click)="signIn()" class="btn login-btn">Submit</button>
    </div>

</div>

<div class="bott-logo">
    <img src="./assets/images/bt-logo-footer.png" height="60" width="150" alt="">
</div>