<ul class="nav nav-tabs" role="tablist">
  <li class="pull-right">
    <button type="button" class="btn btn-primary" data-target="#uploadModel" data-toggle="modal">Upload MIB</button>
  </li>
</ul>
<div class="modal fade" id="uploadModel" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upload MIB</h4>
      </div>
      <div class="modal-body">
        <input type="file" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
        <button id="saveReport" type="button" class="btn btn-default" data-dismiss="modal" >Upload</button>
      </div>
    </div>
  </div>
</div>